@model WebApplication3.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBuying)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBuying)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carriage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carriage.CarriageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PIdNavigation.PId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ps.PsName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TicketId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
