@model IEnumerable<WebApplication3.Models.TrainSchedule>

@{
    ViewData["Title"] = "Розклад потягів";
}

<h1>Потяг відправляється в такі дні:</h1>

<p>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Create">Create New</a>
    }

    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Train)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Train.TrainDeparture)
            </td>
            <td>
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.PId">Edit</a>
                    }
                 
                <a asp-action="Details" asp-route-id="@item.PId">Details</a> 
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.PId">Delete</a>
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>
